<div class="row text-center">
	<h5 ng-click="editDate=true;dateFocus=true" ng-show="!editDate">Em {{at | date:'shortDate'}}</h5>
	<form class="form-inline" role="form" ng-show="editDate">
	  <div class="form-group">
			<input type="date" ng-model="dirtyAt" ga-focus="dateFocus" ga-enter="at=dirtyAt;editDate=false">
		</div>
		<button type="button" class="close" style="float: none;" aria-hidden="true" ng-click="dirtyAt=at;editDate=false">&times;</button>
	</form>
	<br>
</div>
<div class="row">
	<div class="col-sm-6">
		<table class="table table-striped">
			<tbody>
				<tr ng-repeat="entry in balanceSheet | filter: isDebitBalance">
					<td>{{entry.account.number}}</td>
					<td>{{entry.account.name}}</td>
					<td class="text-right">
						<a href="#/charts-of-accounts/{{currentChartOfAccounts()}}/accounts/{{entry.account._id}}/ledger?from={{from()}}&to={{to()}}">{{entry.value | number:2}}</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-sm-6">
		<table class="table table-striped">
			<tbody>
				<tr ng-repeat="entry in balanceSheet | filter: isCreditBalance">
					<td>{{entry.account.number}}</td>
					<td>{{entry.account.name}}</td>
					<td class="text-right">
						<a href="#/charts-of-accounts/{{currentChartOfAccounts()}}/accounts/{{entry.account._id}}/ledger?from={{from()}}&to={{to()}}">{{entry.value | number:2}}</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>