<div class="row text-center">
	<h5>{{range()}}</h5>
</div>
<div class="row">
	<div class="col-xs-12">
		<strong>{{ledger.account.number}}</strong>&nbsp;–&nbsp;<strong>{{ledger.account.name}}</strong>. Saldo:&nbsp;<strong>{{ledger.balance | number:2}}</strong>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<table class="table table-striped">
			<thead>
				<tr>
					<th><strong>Data</strong></th>
					<th><strong>Memorando</strong></th>
					<th colspan="2"><strong>Contrapartida</strong></th>
					<th><strong>Débito</strong></th>
					<th><strong>Crédito</strong></th>
					<th><strong>Saldo</strong></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="e in ledger.entries">
					<td>{{convertToUTC(e.date) | date:'shortDate'}}</td>
					<td><a href="#/charts-of-accounts/{{currentChartOfAccounts()}}/transactions/{{e._id}}">{{e.memo}}</a></td>
					<td>{{e.counterpart.number}}</td>
					<td>{{e.counterpart.name}}</td>
					<td class="text-right">{{e.debit | number:2}}</td>
					<td class="text-right">{{e.credit | number:2}}</td>
					<td class="text-right">{{e.balance | number:2}}</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="4">&nbsp;</td>
					<td class="text-right">{{debitsSum() | number:2}}</td>
					<td class="text-right">{{creditsSum() | number:2}}</td>
					<td>&nbsp;</td>
				</tr>
			</tfoot>
		</table>
	</div>
</div>