<div class="row">
	<form class="form-signin col-sm-4 col-md-3 col-lg-2 col-centered" role="form">
		<h2 class="form-signin-heading">Faça login para prosseguir</h2>
		<div class="form-group">
			<input type="text" class="form-control" placeholder="Usuário" required autofocus autocapitalize="none" ng-model="user" ng-change="errorMessage=undefined">
			<input type="password" class="form-control" placeholder="Senha" required ng-model="password" ng-change="errorMessage=undefined">
		</div>
		<!--
		<label class="checkbox">
			<input type="checkbox" value="remember-me"> Remember me
		</label>
		-->
		<div class="form-group">
			<button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="login()">Fazer login</button>
		</div>
		<div class="alert alert-danger" ng-show="errorMessage">{{errorMessage}}</div>
	</form>
</div>