<form class="form-horizontal" role="form">
  <div class="form-group">
  	<label class="col-sm-3 text-right" for="oldPassword">Senha atual</label>
  	<div class="col-sm-2">
  		<input type="password" class="form-control" id="oldPassword" autofocus ng-model="oldPassword">
  	</div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 text-right" for="oldPassword">Senha nova</label>
    <div class="col-sm-2">
      <input type="password" class="form-control" id="oldPassword" ng-model="newPassword">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 text-right" for="oldPassword">Confirmação da senha nova</label>
    <div class="col-sm-2">
      <input type="password" class="form-control" id="oldPassword" ng-model="newPasswordRetyped">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-3">
      <button class="btn btn-default" ng-click="change()">Alterar</button>
    </div>
  </div>
</form>