<div class="col-sm-10 col-sm-offset-1">
<form class="form-inline" role="form">
  <div class="form-group">
  	<input type="text" class="form-control" id="conta" placeholder="Conta" autofocus ng-model="account" ga-focus="accountFocus" account-typeahead>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" id="debito" placeholder="Débito" ng-model="debit">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" id="credito" placeholder="Crédito" ng-model="credit">
  </div>
  <button class="btn btn-default" ng-click="addEntry();accountFocus = debitsSum() != creditsSum()">Adicionar</button>
  <br>
	<table class="table table-striped" ng-show="entries.length > 0">
	  <thead>
	  	<tr>
	  	  <th><strong>#</strong></th>
	  	  <th><strong>Conta</strong></th>
	  	  <th class="text-right"><strong>Débito</strong></th>
	  	  <th class="text-right"><strong>Crédito</strong></th>
	  	  <th></th>
	  	</tr>
	  </thead>
	  <tbody>	  	
	    <tr ng-repeat="e in entries">
	    	<td>{{e.e.account}}</td>
	      <td>{{e.account.name}}</td>
		  	<td class="text-right">{{e.debit | number:2}}</td>
		  	<td class="text-right">{{e.credit | number:2}}</td>
		  	<td class="text-right text-muted"><span class="glyphicon glyphicon-remove" ng-click="removeEntry($index)"></span></td>
	    </tr>
	  </tbody>
	  <tfoot>
	  	<tr>
	  		<td colspan="2"><strong>Total</strong></td>
	  		<td class="text-right">{{debitsSum() | number:2}}</td>
	  		<td class="text-right">{{creditsSum() | number:2}}</td>
	  		<td></td>
	  	</tr>
	  </tfoot>
	</table>
</form>
<form class="form" role="form">
	<br ng-show="entries.length == 0">
  <div class="form-group">
  	<input type="date" class="form-control width-auto" placeholder="Data" ng-model="date">
  </div>
  <div class="form-group">
  	<textarea class="form-control" rows="3" placeholder="Memorando" ng-model="transaction.memo">
  	</textarea>
  </div>
	<div class="form-group">
		<button class="btn btn-default" ng-click="addAndContinue()" ng-show="!transactionId()">Salvar e continuar</button>
		<button class="btn btn-default" ng-click="save()">Salvar</button>
		<button class="btn btn-danger" ng-click="remove()" ng-show="transactionId()">Excluir</button>
	</div>
</form>
</div>